---
import { ChevronRight } from "lucide-astro";
import styles from "./button.module.css";

interface Props {
  href: string;
  text: string;
  arrowDirection?: "left" | "right";
}

const { href, text = "right" } = Astro.props;
---

<a href={href} class={styles.ctaButton}>
  <div class={styles.arrowWrapper}>
    <ChevronRight class="w-6 h-6 text-slate-800" />
  </div>
  <div class={styles.textContent}>
    <span>{text}</span>
  </div>
</a>
